{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_urls admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {{ object_action_verbose_name|capfirst }}
</div>
{% endblock %}

{% block submit_buttons_top %}
<div class="submit-row">
<input type="submit" value="{{ object_action_verbose_name|capfirst }}" class="default" name="_{{ object_action_slug }}" />
</div>
{% endblock %}

{% block submit_buttons_bottom %}
<div class="submit-row">
<input type="submit" value="{{ object_action_verbose_name|capfirst }}" class="default" name="_{{ object_action_slug }}" />
</div>
{% endblock %}
