# Development environment uses Python 3.7.

bumpversion
django
django-crum
django-debug-toolbar
django-extensions
flake8
ipython
pip-tools
pycodestyle
pytest
pytest-cov
pytest-django
pytest-flake8
pytest-runner
six
sphinx
tox
twine
wheel
